* text=auto eol=lf
*.log text eol=lf whitespace=-blank-at-eol

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
*.zip binary
*.gz binary
*.ulg binary
